ALIENGOAT_NETWORK=testnet
ALIENGOAT_TESTNET_HORIZON=https://horizon-testnet.stellar.org
ALIENGOAT_MAINNET_HORIZON=https://horizon.stellar.org
ALIENGOAT_FRIENDBOT=https://friendbot.stellar.org
ALIENGOAT_ASSET_CODE=GOAT001002

ALIENGOAT_ISSUER_PUBLIC=GCPPJQ4NTBR35JQZMWOZQ7HOTGB7BWXK6GZ56FB65ZUM6ABXNZ7SG7LW
ALIENGOAT_ISSUER_SECRET=SCQ6EWGEUFGADDNFN2IFMKBFX622EAOUUGG3KIQ4Q7CKZDCIJIL5C4XH
ALIENGOAT_HOLDER_SECRET=SAZQ6OAVZ4XYP3PN66GZEBKNP3NUMVTCQVRZUPMWBU55RRYPLNJ5O2QC
ALIENGOAT_DESTINATION=GBR7AI4ZGW2YNQ7VXI4Q3RAWRJXDR5MVWE2L3XRCFYLNEUKMSZROOPSO
ALIENGOAT_PUBLIC=GBR7AI4ZGW2YNQ7VXI4Q3RAWRJXDR5MVWE2L3XRCFYLNEUKMSZROOPSO
ALIENGOAT_MINT_AMOUNT=40000000

ALIENGOAT_E2E_SOROBAN=0
ALIENGOAT_SOROBAN_NETWORK=testnet
ALIENGOAT_SOROBAN_SOURCE=admin
ALIENGOAT_SOROBAN_TOKEN_ID=C...
ALIENGOAT_SOROBAN_MAX_PER_REWARD=10